<nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="#/about">About</a></li>
      <li><a href="#/services">Services</a></li>
      <li><a href="blog.html">Blog</a></li>
      <!-- <li class="dropdown">
        <a href="#"><span>Care and Support</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
        <ul>
          <li><a href="https://illawarracare.com/diverse-and-complex-needs/">Diverse and Complex Needs</a></li>
          <li><a href="https://illawarracare.com/residential-living/">Residential Living</a></li>
          <li><a href="https://illawarracare.com/respite-care/">Respite Care</a></li>
          <li><a href="https://illawarracare.com/supported-living/">Supported Living</a></li>
          <li><a href="https://illawarracare.com/dayopportunities/">Day Opportunities</a></li>
        </ul>
      </li> -->
      <li><a href="#contact">Contact</a></li>
      <li style="margin-left: 5px;">
        <a href="/book-appointment" class="btn" style="padding: 8px 15px; background-color: #9b499f; color: #fff; border-radius: 5px;">Book Appointment</a>
      </li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
  </nav>